src/main/mule/authomation-jnkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="074da331-d719-4d18-96ca-0f9be0dbc3da" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="authomation-jnkinsFlow" doc:id="67bdd555-cb1d-438c-be8a-f44f09ac4e2f" >
		<http:listener doc:name="Listener" doc:id="803785a5-496b-4c87-8a65-2446b77975e1" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value="#['Hi Jenkins!']" doc:name="Set Payload" doc:id="ac3e4548-e5a8-4de9-a6ee-0d926d6e3628" />
	</flow>
</mule>
